* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    background-color: #333333;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin-top: 1rem;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-top: 1rem;
}

main > form > *:not(.buttons),
main > form > * > div {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-top: 1rem;
}

main > form > * > div {
    margin-top: 0;
}

main > form > * > fieldset {
    display: flex;
}

.general-information {
    display: flex;
    flex-direction: column;
}

main label {
    margin: 0.5rem;
}

.hidden {
    display: none;
}

.buttons, .display {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons > input {
    margin: 0.5rem;
    padding: 0.3rem;
}